<!DOCTYPE html>
<html>

<head>
  <title>Plant Bank Homepage</title>
  <script src="https://kit.fontawesome.com/31a00af4ac.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <link rel='stylesheet' href='/stylesheets/homepage.css' />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">

</head>

<nav class="navbar navbar-expand-sm fixed-top navbar-grey bg-dark mb-5"> 
  <a class="navbar-brand"  href="#">Plant Bank</a>
  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item first"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Category</a></li>
      <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
    </ul>
  </div>
</nav>

<body>
    <section class="d-flex justify-content-center">
        <section class="mainContent">
    
          <section class="row">
            <div class="col">
              <div class="card searchStyle">
                <img class="card-img" src="../images/SearchBackground.jpg" height="300px" alt="SeachBar Background Image">
              </div>
            </div>
          </section>
        </section>
    </section>
</body>

</html>