<!DOCTYPE html>
<html>

<head>
  <title>Plant Bank Homepage</title>
  <script src="https://kit.fontawesome.com/31a00af4ac.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <link rel='stylesheet' href='/stylesheets/homepage.css' />

</head>

<body>

  <section class="d-flex justify-content-center">
    <section class="mainContent">

      <section class="row">
        <div class="col">
          <div class="card searchStyle">
            <img class="card-img" src="../images/SearchBackground.jpg" height="300px" alt="SeachBar Background Image">
            <div class="card-img-overlay d-flex mx-auto align-items-center col-lg-10 col-12">
              <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                  <button class="input-group-text" id="inputGroup-sizing-lg">Search</button>
                </div>
                <input type="text" class="form-control" aria-label="SearchBar">
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="row justify-content-center">
        <h1 class="titles">Major Plant Kingdoms</h1>
      </section>

      <section class="row d-sm-block d-md-block">
        <div class="card-deck justify-content-center d-sm-block d-md-block d-lg-flex d-xl-flex">

          <div class="card elementShadow align-items-center col-lg-5 col-auto my-md-5 my-sm-5">
            <img class="card-img-top mt-4 iconSizing" src="../Icons/vascularPlantsIcon.png" alt="Vascular Plants">
            <div class="card-body">
              <h3 class="card-title d-flex justify-content-center">Vascular Plants</h3>
              <p class="card-text">Vascular plants, also known as tracheophytes, form a large group of plants that are
                defined as land plants that have lignified tissues for conducting water and minerals throughout the
                plant.</p>
            </div>
            <a href="#" class="btn btn-outline-success btn-lg mb-3" role="button" aria-pressed="true">View Vascular
              Plants</a>
          </div>

          <div class="card elementShadow align-items-center col-lg-5 col-auto my-md-5 my-sm-5">
            <img class="card-img-top mt-4 iconSizing" src="../Icons/nonVascularPlantsIcon.png"
              alt="Non-Vascular Plants">
            <div class="card-body">
              <h3 class="card-title d-flex justify-content-center">Non-Vascular Plants</h3>
              <p class="card-text">Non-vascular plants are plants without the vascular system consisting of xylem and
                phloem. Although non-vascular plants lack these particular tissues, many possess simpler tissues that
                have specialized functions for the internal transport of water.</p>
            </div>
            <a href="#" class="btn btn-outline-success btn-lg mb-3" role="button" aria-pressed="true">View Non-Vascular
              Plants</a>
          </div>

        </div>
      </section>

      <section class="row justify-content-center">
        <h1 class="titles">Minor Plant Kingdoms</h1>
      </section>

      <section class="row">
        <div class="card-deck justify-content-center d-sm-block d-md-block d-lg-flex d-xl-flex">

          <div class="card elementShadow align-items-center col-lg-3 col-auto my-md-5 my-sm-5">
            <img class="card-img-top mt-4 iconSizing" src="../Icons/bryophyte.png" alt="Bryophyte Plants">
            <div class="card-body">
              <h3 class="card-title d-flex justify-content-center">Bryophytes</h3>
              <p class="card-text">Bryophytes are an informal group consisting of three divisions of non-vascular land
                plants known as liverworts, hornworts and mosses. They are characteristically limited in
                size and prefer moist habitats although they can survive in drier environments.</p>
            </div>
            <a href="#" class="btn btn-outline-success btn-lg mb-3" role="button" aria-pressed="true">View
              Bryophytes</a>
          </div>

          <div class="card elementShadow align-items-center col-lg-3 col-auto my-md-5 my-sm-5">
            <img class="card-img-top mt-4 iconSizing" src="../Icons/fern.png" alt="Fern Plants">
            <div class="card-body">
              <h3 class="card-title d-flex justify-content-center">Ferns</h3>
              <p class="card-text">A fern is a member of a group of vascular plants that reproduce via spores and have
                neither seeds nor flowers. Ferns have complex leaves called megaphylls producing coiled fiddleheads that
                uncoil and expand into fronds.</p>
            </div>
            <a href="#" class="btn btn-outline-success btn-lg mb-3" role="button" aria-pressed="true">View Ferns</a>
          </div>

          <div class="card elementShadow align-items-center col-lg-3 col-auto my-md-5 my-sm-5">
            <img class="card-img-top mt-4 iconSizing" src="../Icons/angiosperms.png" alt="Angiosperms Plants">
            <div class="card-body">
              <h3 class="card-title d-flex justify-content-center">Angiosperms</h3>
              <p class="card-text">Angiosperms otherwise known as the flowering plants are the most diverse group of
                land plants. They are distinguished from gymnosperms by characteristics including flowers, endosperm
                within their seeds, and the production of fruits that contain the seeds.</p>
            </div>
            <a href="#" class="btn btn-outline-success btn-lg mb-3" role="button" aria-pressed="true">View
              Angiosperms</a>
          </div>

          <div class="card elementShadow align-items-center col-lg-3 col-auto my-md-5 my-sm-5">
            <img class="card-img-top mt-4 iconSizing" src="../Icons/gymnosperm.png" alt="Gymnosperm Plants">
            <div class="card-body">
              <h3 class="card-title d-flex justify-content-center">Gymnosperm</h3>
              <p class="card-text">The gymnosperms are a group of seed-producing plants. The non-encased condition of
                their seeds contrasts with angiosperms, which are enclosed within an ovary. Gymnosperm seeds develop
                on the surface of scales or leaves, which are often modified to form cones.</p>
            </div>
            <a href="#" class="btn btn-outline-success btn-lg mb-3" role="button" aria-pressed="true">View
              Gymnosperms</a>
          </div>

        </div>
      </section>

      <section class="row justify-content-center">
        <h1 class="titles">Suggestions</h1>
      </section>

      <section class="row justify-content-center">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="../images/plantPlaceholder.jpeg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../images/plantPlaceholder2.jpeg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../images/plantPlaceholder3.jpeg" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </section>
    </section>

    <!-- TODO: Add this to the credits, resources, footer etc... -->
    <div class="titles">Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a
        href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>