<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="PlantBank information application utilizing the Trefle.io plant API">
    <meta name="keywords" content="EJS, CSS, JavaScript, Express (Node), Bootstrap, Font Awesome">
    <meta name="author" content="Liam Rotchford">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Plant Bank Homepage</title>
    <script src="https://kit.fontawesome.com/31a00af4ac.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel='stylesheet' href='/stylesheets/referencePage.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
</head>

<body>
<!--search bar area-->
<nav>
    <div class="logo">
        <a class="navbar-brand" href="/"><img class="logo-img" src="../Icons/leaves.png" alt="" />Plant Bank</a>
    </div>
    <ul class="nav-links">
        <li class="nav-item"><a class="link" href="/">Home</a></li>
        <li class="nav-item"><a class="link" href="/about">About</a></li>
        <li class="nav-item"><a class="link" href="/reference">Reference</a></li>
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>

<section class="referencePage">
    <section class="mainContent">
        <h1 class="title-text:">Reference</h1>
        <h2 class="title mb-3">Languages, Frameworks & Libraries:</h2>
        <h3>Languages:</h3>
        <ul class="list">
            <li>EJS (HTML)</li>
            <li>CSS</li>
            <li>Javascript</li>
        </ul>
        
        <h3>API:</h3>
        <ul class="list">
            <li><a class="last" href="https://trefle.io/about">Trefle</a></li>
        </ul>

        <h3>Frameworks, Libraries, & Utilizations:</h3>
        <ul class="list">
            <li><a href="https://expressjs.com/">NodeJS</a></li>
            <li><a href="https://expressjs.com/">Express</a></li>
            <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
            <li><a href="https://fontawesome.com/">Font Awesome</a></li>
        </ul>

        <h3>Npm Packages:</h3>
        <ul class="list-last">
            <li><a href="https://www.npmjs.com/package/nodemon">Nodemon</a></li>
            <li><a href="https://www.npmjs.com/package/axios">Axios</a></li>
        </ul>

        <h2 class="title mb-3">Additional Resources Used:</h2>
        <h3>Resources:</h3>
        <ul class="list">
            <li><a href="https://www.colorhexa.com/">ColorHexa</a></li>
            <li><a href="https://www.flaticon.com/">Flaticon</a></li>
            <li><a href="http://www.freepik.com/">Freepik</a></li>
            <li><a href="https://mdbootstrap.com/snippets/jquery/alexpiffero-it/696600#html-tab-view">Bootstrap Card Carousel </a></li>
            <li><a href="https://developer.mozilla.org/en-US/">Mozilla Developer Documentation</a></li>
            <li><a href="https://icon-library.com/">Icon Library</a></li>

        </ul>

        <h3>Accessiblity:</h3>
        <ul class="list">
            <li><a href="https://webaim.org/techniques/aria/">Accessible Rich Internet Applications (ARIA)</a></li>
            <li><a href="https://webaim.org/resources/contrastchecker/">WebAim Contrast Checker</a></li>
            <li><a href="https://wave.webaim.org/extension/">Wave Accessibility Check Extension</a></li>
        </ul>


    </section>
    <script type="text/javascript" src="../javascripts/reference.js"></script>
</section>

</body>

<footer class="credits" font-size="small">
    <p class="credit-text">Plant Bank</p>
    <p class="credit-text">Authored by: Iris Li, Liam Rotchford, Yufei Tao</p>
</footer>

</html>