.homepage-content {
  /*padding: 50px;*/
  font-family: "Times New Roman", Times, serif;
  background-color: #ffffff;
  display: grid;
  grid-template-areas: "navbar"
                       "mainContent";
  grid-auto-rows: 1fr 200px;
}

.homeContent{
  padding: 50px;
}

.rowSpacing {
  margin-top: 8em;
}

a:hover {
  color: #418f8b;
}

.searchStyle {
  background-color: #58c1bc;
  border-style: none;
  /*box-shadow: 0 -2px 30px#9e9e9e;*/
}

#searchBtn {
  border-radius: 5px;
}

.btn-success {
  color: #fff;
  background-color: #85cdca;
  border: none;
}

.card-img{
  width: 960px;
  height: auto;
  margin-left: auto;
  margin-right: 0;
}

.elementShadow {
  box-shadow: 0 -2px 10px #9e9e9e;
}

.iconSizing {
  max-width: 20%;
  height: auto;
}

.carouselCards {
  float: left;
}

.btnColoring {
  background-color: #255B58;
  border: none;
}

.carouselCardBtns {
  float: right;
}

.logo {
  padding-top: 0px;
  padding-bottom: 12px;
  width: 70px;
  height: auto;
  padding-right: 10px;
}

.navbar-brand, .logo{
  padding-left: 10px;
  font-size: 3.5rem;
  color: #2C7776;
  font-weight: bold;
  /*display: inline-block;
  /*background-position: right;*/
}


.homepage-content > .navbar {
  /*width: 100%;*/
  /*!*min-height: 10vh;*!*/
  max-height: 100px;
  /*padding: 0 0;*/
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*align-content: center;*/
  /*margin: 0;*/
  z-index: 1;
  font-family: lato, serif;
  /*height: 6rem;*/
}

.navbar-nav{
  /*display: flex;*/
  /*list-style: none;*/
  /*float: right;*/
}

.nav-item {
  padding-top: 1.1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;

}

/*.nav-link {*/
/*  color: #6a6a6a;*/
/*  border-radius: 10px;*/
/*}*/

.input-group {
  width: 50%;
}


/* Accessibility States */
button:hover,
button:focus {
  background-color: #6c8094;
  border-color: #6c8094;
}

.btn:hover,
.btn:focus {
  background-color: #36928f;
}


button:active,
.btn:active {
  background-color: #333;
  border-color: #333;
  color: #eee;
}

/* Media Queries */

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 300px) {
  .card-title {
    font-size: 4rem;
  }

  .card-text {
    font-size: 3rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-title {
    font-size: 3rem;
  }

  .card-text {
    font-size: 2rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 850px) {
  .card-title {
    font-size: 2rem;
  }

  .card-text {
    font-size: 1rem;
  }
}

.gap-line {
  width: 90%;
  background: #6c6b6b;
}

.credits {
  padding-top: 50px;
  text-align: center;
}

.credit-link {
  color: #21578C;
}

.credit-text{
  color: #6c6b6b;
}