  /* body  of page */
  body{

    background-color: lightslategrey;
    font-family: "Times New Roman", Times, serif;
    
  
  }

  .theText{
    background-color:#e4eff0;
    border-radius: 5px;
    box-shadow: 0 -2px 10px #9e9e9e;
  }


  .table{
    box-shadow: 0 -2px 10px #9e9e9e;
  }

  tbody {
    background-color: #e4eff0;
  }

  .gapSpace {
    margin-top: 5em;
  }

  .pageContainer{

    border: 5px solid #255B58;
    box-shadow: 0 -2px 10px #9e9e9e;
  }

  .theCol1{
    background-color: #f0f0f0;
    }
  

  .theCol2{
    border:#255B58;
    background-color: #f0f0f0;
  }

  .theCol3{
    background-color: #255B58;
    background-color: #f0f0f0;
  
  }

  .list_case{
    border: #9e9e9e;
    background-color: #e4eff0;
  }

  .list_item{
    font-size: 1.3rem;
    font-style: italic;
    font-weight: bolder;
    text-shadow: 2px 2px 8px  #7c7777;
  }

  .pInfo{
    font-size:1.2rem;
    font-weight: lighter;
    text-align: right;
  }

  .title{
  
    font-weight: bolder;
    font-size: large;
    text-align: left;
  }

  .title_info{
    text-align: left;
  }


  .plant_img{
  
    border: 3px solid whitesmoke;
    box-shadow: 0 -2px 10px #9e9e9e;
    border-radius: 5px ;

  }

  .homepage-content {
    grid-template-rows: auto 1fr auto;
    background-color: #f0f0f0;
  }
  

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: lato, serif;
}
.logo {
  color: #2C7776;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
}

.nav-links{
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}
.link {
  color: #2C7776;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 22px;
}
.burger{
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #2C7776;
  margin: 5px;
}
.logo-img {
  padding-top: 0px;
  padding-bottom: 12px;
  width: 70px;
  height: auto;
  padding-right: 10px;
}
.navbar-brand,
.logo-img {
  font-family: lato, serif;
  padding-left: 10px;
  font-size: 2.5rem;
  color: #2C7776;
  font-weight: bold;
}
.link:hover,
.navbar-brand:hover{
  text-decoration: none;
  color: #58c1bc;
}

.input-group {
  width: 50%;
}

@media (max-width: 850px) {
  /*for the nav bar*/
  body{
      overflow-x: hidden;
  }
  .nav-links {
      z-index: 1;
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background-color: #f0f0f0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 45%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
  }
  .nav-links li {
      opacity: 0;
  }
  .burger {
      display: block;
  }
}
.nav-active{
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }
}

.card-img {
  width: 960px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.searchStyle {
  background-color: #58c1bc;
  border-style: none;
  /*box-shadow: 0 -2px 30px#9e9e9e;*/
}


/* footer */

.credits {
    padding-top: 50px;
    text-align: center;
    background-color: #f0f0f0;
}

.credit-text{
    color: #6c6b6b;
}