.referencePage {
    display: flex;
    justify-content: center;
    font-family: Arial, serif;

    /*display: grid;*/
    grid-template-areas: "navbar"
                         "mainContent"
                         "footer";
    grid-template-rows: auto 1fr auto;
    background-color: #f0f0f0;

}
.mainContent{
    padding: 150px 100px;
}

h1 {
    font-family: lato, serif;
    padding-bottom: 40px;
}

h2 {
    font-weight: bold;
}

h3 {
    font-size: x-large;
}

a {
    color: #2C7776;
}

.credits {
    padding-top: 50px;
    text-align: center;
    background-color: #f0f0f0;
}

.credit-text{
    color: #6c6b6b;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: lato, serif;
    background-color: #f9f9f9;
}
.logo {
    color: #2C7776;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
}
.nav-links{
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links li {
    list-style: none;
}
.link {
    color: #2C7776;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 22px;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: #2C7776;
    margin: 5px;
}
.logo-img {
    padding-top: 0px;
    padding-bottom: 12px;
    width: 70px;
    height: auto;
    padding-right: 10px;
}
.navbar-brand,
.logo-img {
    font-family: lato, serif;
    padding-left: 10px;
    font-size: 2.5rem;
    color: #2C7776;
    font-weight: bold;
}
.link:hover,
.navbar-brand:hover{
    text-decoration: none;
    color: #58c1bc;
}
@media (max-width: 850px) {
    /*for the nav bar*/
    body{
        overflow-x: hidden;
    }
    .nav-links {
        z-index: 1;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #f9f9f9;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}